<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Nestor Martínez</mat-card-title>
    <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
  </mat-card-header>

  <mat-divider inset></mat-divider>

  <img style="margin-top: 15px;" class="circular" mat-card-image src="../../../../../assets/images/foto.jpg">

  <mat-card-content>
    <p>

    </p>
  </mat-card-content>

  <mat-divider inset></mat-divider>

  <mat-card-actions style="text-align: center;">

    <button routerLink="/profile/settings" mat-button color="info">
      <mat-icon>person</mat-icon>
      Profile
    </button>

    <button mat-button color="info">
      <mat-icon> mail</mat-icon>
      Message
    </button>

  </mat-card-actions>
</mat-card>

<!-- <mat-card class="mat-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h6>NESTOR MARTÍNEZ </h6>
    </mat-card-title>
    <mat-card-subtitle>CC: 1061779667 </mat-card-subtitle>
  </mat-card-header>

  <img width="300" height="200" mat-card-image >

  <mat-card-actions style="text-align: center;">

    <button mat-button color="info">
      <mat-icon color="primary">edit</mat-icon>
    </button>

    <button mat-button color="warn">
      <mat-icon color="warm">clear</mat-icon>
    </button>

  </mat-card-actions>
</mat-card>
 -->
