<page-header class="p-t-32 p-b-48 m-b--24 bg-gray-900"
             title="Profile" hideBreadcrumb>
</page-header>

<div fxLayout="row wrap" class="matero-row">
  <div class="matero-col" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33.33" fxFlex.gt-md="25">
    <mat-card>
      <div class="text-center">
        <img class="m-b-8 r-full" [src]="user.avatar" alt="" width="80">
        <h2 class="m-t-0 m-b-8 f-w-400">{{ user.name }}</h2>
        <p class="m-t-0 m-b-8">FE Developer, UE designer</p>
        <p class="m-t-0 text-grey-500">Hi I'm Nestor Martínez,has been the industry's standard dummy text To an English person, it will seem
        like simplified English, as a skeptical Cambridge.</p>

        <a mat-raised-button class="m-l-8"
        href="https://www.linkedin.com/in/nestor-martinez-751232209/" target="_blank">
        <img style=" width: 32px; height: 32px;" src="https://cdn0.iconfinder.com/data/icons/some1-design/512/linkedin_512.png">
        </a>

        <a mat-raised-button class="m-l-8"
          href="MSTeams:/l/chat/0/0?users=jessica.cala@dreamcodesoft.com" target="_blank">
        <img style=" width: 32px; height: 32px;" src="https://cdn0.iconfinder.com/data/icons/logos-microsoft-office-365/128/Microsoft_Office-10-512.png">
        </a>

        <a mat-raised-button class="m-l-8"
        href="https://api.whatsapp.com/send?phone=573105338818&text=¡Hola!, mi nombre es: Nestor Martínez,te escribo porque ..." target="_blank">
        <img style=" width: 32px; height: 32px;" src="https://cdn0.iconfinder.com/data/icons/some1-design/512/whatsapp_512.png">
        </a>

      </div>
      <mat-nav-list class="m-x--16 m-b--16 m-t-16">
        <mat-divider inset></mat-divider>
        <a mat-list-item routerLink="/profile/overview">
          <mat-icon class="icon-18 m-r-8">account_circle</mat-icon> Overview
        </a>
        <mat-divider inset></mat-divider>
        <a mat-list-item routerLink="/profile/settings">
          <mat-icon class="icon-18 m-r-8">settings</mat-icon> Settings
        </a>
      </mat-nav-list>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="66.67" fxFlex.gt-md="75">
    <router-outlet></router-outlet>
  </div>
</div>
